Voici le Duck Framework.

Il est composé d'une architecture MVC simple, avec un helper pour chaque élément : Controller, Model, et l'index de routage.
Il contient les packages mustache et leafo à installer avec un composer install.
Il est implémenté selon un design pattern facade et avec un dp singletone sur la class CelperView.
Contient une bdd mysql avec une table client.
Permet de voir et de modifier des personnes.
Contient un template de page.
What else.
Un peu salement codé de temps en temps.
Amusez vous :p.