
                        <form action="/clients/save/{{id}}"  method="POST">
                        <div class='container'>
                                        <div class='row'>
                                            <div class="col-lg-6"> 
                                                <div class="form-group">
                                                    <input type="text" name="nom" class="form-control" placeholder="Nom" value="{{nom}}">
                                               </div>
                                            </div>
                                            <div class="col-lg-6"> 
                                               <div class="form-group">
                                                    <input type="text" name="prenom"  class="form-control" placeholder="Prenom" value="{{prenom}}">
                                               </div>
                                            </div>
                                            <div class="col-lg-6"> 
                                               <div class="form-group">
                                                    <input type="text" name="age"  class="form-control" placeholder="Age" value="{{age}}">
                                               </div>
                                            </div>
                                            <div class="col-lg-6"> 
                                               <div class="form-group">
                                                    <input type="text" name="telephone"  class="form-control" placeholder="Telephone" value="{{telephone}}">
                                               </div>
                                            </div>
                                            <div class="col-lg-6"> 
                                               <div class="form-group">
                                                    <input type="text" name="adresse" class="form-control" placeholder="Adresse" value="{{adresse}}">
                                               </div>
                                            </div>
                                            <div class="col-lg-6"> 
                                               <div class="form-group">
                                                    <input type="text" name="codepostal"  class="form-control" placeholder="Code postal" value="{{codepostal}}">
                                               </div>
                                            </div>
                                            <div class="col-lg-6"> 
                                                <button type="submit">UPDATE</button>
                                            </div>
                            </div>

                        </form>

